* {
     box-sizing: border-box;
}
    
    body {
    background-color: #FBF7F5;
    color: #2B3138;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
    height: 100%;
    position: relative;
    padding-bottom: 133px;
    min-height: 100vh;
}

.headerMenu {
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#2B3138;
    position: relative;
    width: 100%;
    height: 800px;
}

.headerMenu a {
    margin-top: 50px;
}

.rightNavigation {
    font-size: 24px;
    position: absolute;
    top: 10%;
    right: 5%;
    display: flex;
    flex-direction: column;
}

.rightNavigation a {
    padding: .00005%;
}

#headerNav {
    font-size: 20px;
    font-weight: 500;
    padding-left: 50px;
}

#headerNav a {
    margin-right: 50px;
}

h1{
    color:#2B3138;
    font-size: 64px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h2{
    color: #2B3138;
    font-size: 48px;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3 {
    color: #2B3138;
    font-size: 30px;
    font-weight: 400;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p{
    color: #2B3138;
    font-size: 17px;
    font-weight: 200;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.heroTitle {
    position: absolute;
    top: 300px; 
    left:50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.hero-image{
    width: 1000px;
    display:block;
    float: right; 
    border-bottom-left-radius: 30%;
    margin: -30px;
}

/* .heroOverlay1 {
    position: absolute;
    width: 641px;
    height: 1112px;
    left: 400px;
    top: 641px;
    
    background: linear-gradient(269.6deg, #E9E3DB 0.32%, rgba(231, 231, 231, 0) 77.79%);
    border-radius: 20px 0px 0px 0px;
    transform: rotate(-90deg);
    z-index: 100;
} 

.heroOverlay2 {
    position: absolute;
    width: 641px;
    height: 893px;
    left: 871px;
    top: 0px;

    background: linear-gradient(270deg, #E9E3DB 0%, rgba(231, 231, 231, 0) 100%);
}
*/

.footer-image{
    width: 50%;
    justify-content: space-evenly;
    float:left;
    padding-right:50px; 
}
#meetTeam{
    background-color: #ECD9CE;
    background-size: auto;
    color: #2B3138;
    font-size: 200;
    font-weight: 500;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 20px 100px;
}



.topSidemenu {
    display: flex;
    justify-content: right;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.socialContainer {
    display: grid;
    grid-gap: 10px;
    padding: 10px;
    grid-template-areas: 
    'lglt lglt md md rttpsm lgrt lgrt'
    'lglt lglt md md cttpsm lgrt lgrt'
    'lglt lglt ltbtsm ctbtsm rtbtsm lgrt lgrt';
}

.socialContainer > div {
    background-color: #969C7B;
    border-radius: 5px;
    padding: 50px 0;
    text-align: center;
    
}

.item1 {
    grid-area: lglt;
    font-size: 96px;
}
 
.item2 {
    grid-area: md;
}

.item3 {
    grid-area: rttpsm;
}

.item4 {
    grid-area: cttpsm;
}

.item5 {
    grid-area: ltbtsm;
}

.item6 {
    grid-area: ctbtsm;
}

.item7 {
    grid-area: rtbtsm;
}

.item8 {
    grid-area: lgrt;
}

main {
    width: 90vw;
    margin: 0 auto;
    padding: 30px 20px;
   /* min-height: calc(100vh - 850px - 133px); */
}

footer {
    text-align: center;
    background-color: #616C4D;
    padding: 20px; 
    position: absolute;
    bottom: 0%;
    width: 100%;
}
